* {
  margin: 0;
  padding: 0;
}
html, body, .container-fluid, .row{
  height: 100%;
}

body {
  font-family:"Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif;
}

.a {
  background-color: #3f3f3f;
  height: 100%;
  padding-left: 0;
  padding-right: 0;        
  overflow-x: hidden;
  overflow-y: auto;
}

.b {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: auto;        
}

#jsmind_container{
  width:100%;
  height:100%;
  border:solid 1px #ccc;
  /*background:#f4f4f4;*/
  background:#f4f4f4;
}


#back {
  display: block;
  width: 180px;
  border: 2px solid #00cc66;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  
  color: #00cc66;
  background-color: transparent;
  font-size: 18px;
  text-align: center; 
}

#back > a {
  text-decoration: none;
  display: block;
  color: #00cc66;
}

/*背景色#00cc66的按钮*/
.btn-green {
  background-color: #00cc66;
  color: white;
}

.btn-green:hover {
  background-color: #f3fff9;
  color: #00cc66;
  border: 1px solid #00cc66;
}

/*地图的点赞收藏按钮*/
.map-like-and-collect-btn {
  text-align: center;
}

.map-like-and-collect-btn-active {
  color: #00cc66;
  background-color: #f3fff9;
  border: 1px solid #00cc66;
}

.map-like-and-collect-btn-active:focus,
.map-like-and-collect-btn-active:active {
  color: #00cc66;
}

.intro {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px solid white;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}