<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.caitou.dao.ICorpusDao">

	<insert id="insertCorpus" parameterType="Corpus">
		<selectKey keyProperty="id" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
		INSERT INTO T_Corpus(user_id,corpus_name)
		VALUES(#{userId},#{corpusName})
	</insert>

	<delete id="deleteById">
		DELETE FROM T_Corpus
		WHERE id = #{id}
	</delete>
	
	<update id="updateCorpusName">
		UPDATE T_Corpus
		SET corpus_name = #{corpusName}
		WHERE id = #{id}
	</update>
	
	<update id="updateCorpusImage">
		UPDATE T_Corpus
		SET corpus_image_path = #{corpusImagePath}
		WHERE id = #{id}
	</update>
	
	<update id="updateCorpusDiscribe">
		UPDATE T_Corpus
		SET corpus_discribe = #{corpusDiscribe}
		WHERE id = #{id}
	</update>
	
	<update id="increaseEssayNumber">
		UPDATE T_Corpus
		SET essay_number = essay_number + 1
		WHERE id = #{id}
	</update>
	
	<update id="reduceEssayNumber">
		UPDATE T_Corpus
		SET essay_number = essay_number - 1
		WHERE id = #{id} and essay_number > 0
	</update>
	
	<update id="increaseEssayWordNumber">
		UPDATE T_Corpus
		SET essay_word_number = essay_word_number + #{difference}
		WHERE id = #{id}
	</update>
	
	<update id="reduceEssayWordNumber">
		UPDATE T_Corpus
		SET essay_word_number = essay_word_number - #{difference}
		WHERE id = #{id} and essay_word_number > 0
	</update>
	
	<update id="increaseUserFocusNumber">
		UPDATE T_Corpus
		SET user_focus_number = user_focus_number + 1
		WHERE id = #{id}
	</update>
	
	<update id="reduceUserFocusNumber">
		UPDATE T_Corpus
		SET user_focus_number = user_focus_number - 1
		WHERE id = #{id} and user_focus_number > 0
	</update>
	
	<select id="queryById" resultType="Corpus">
		SELECT
		<include refid="columns" />
		FROM T_Corpus
		WHERE id = #{id}
	</select>

	<select id="queryByUserId" resultType="Corpus">
		SELECT
		<include refid="columns" />
		FROM T_Corpus
		WHERE user_id = #{userId}
		ORDER BY id DESC
	</select>
	
	<select id="getRowCountLikeKeyword" resultType="int">
		SELECT COUNT(*) FROM T_Corpus
		WHERE corpus_name LIKE '%' #{keyword} '%'
	</select>

	<select id="queryLikeKeyword" parameterType="map"
		resultType="Corpus">
		SELECT
		<include refid="columns" />
		FROM T_Corpus
		WHERE corpus_name LIKE '%' #{keyword} '%'
		ORDER BY id DESC
		LIMIT ${offset}, ${size}
	</select>
	
	<select id="queryAllCorpus" resultType="Corpus">
		SELECT
		<include refid="columns" />
		FROM T_Corpus
	</select>

	<sql id="columns">
		id,user_id,corpus_name,essay_number,essay_word_number,user_focus_number,corpus_image_path,corpus_discribe
	</sql>
</mapper> 



















