<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.caitou.dao.IReplyDao">

	<insert id="insertReply" parameterType="Reply">
		<selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
		INSERT INTO T_Reply(reply_user_id,reply_user_name,reply_time,reply_content,comment_id)
		VALUES(#{replyUserId},#{replyUserName},#{replyTime},#{replyContent},#{commentId})
	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM T_Reply
		WHERE id = #{_parameter}
	</delete>
	
	<delete id="deleteByCommentId" parameterType="java.lang.Integer">
		DELETE FROM T_Reply
		WHERE comment_id = #{_parameter}
	</delete>

	<select id="queryByCommentId" parameterType="java.lang.Integer"
		resultType="Reply">
		SELECT
		<include refid="columns" />
		FROM T_Reply WHERE comment_id = #{_parameter}
	</select>

	<sql id="columns">
		id,reply_user_id,reply_user_name,reply_time,reply_content,comment_id
	</sql>
</mapper> 