<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.caitou.dao.IFocusMessageDao">

	<insert id="insertFocusUserEssayMessage" parameterType="FocusMessage">
		INSERT into
		T_Focus_Message(focus_user_id,user_id,user_name,essay_id,update_time)
		VALUES(#{focusUserId},#{userId},#{userName},#{essayId},#{updateTime})
	</insert>
	
	<insert id="insertFocusCorpusMessage" parameterType="FocusMessage">
		INSERT into
		T_Focus_Message(focus_user_id,corpus_id,corpus_name,essay_id,essay_title,update_time)
		VALUES(#{focusUserId},#{corpusId},#{corpusName},#{essayId},#{essayTitle},#{updateTime})
	</insert>
	
	<insert id="insertFocusUserKmapMessage" parameterType="FocusMessage">
		INSERT into
		T_Focus_Message(focus_user_id,user_id,user_name,kmap_id,update_time)
		VALUES(#{focusUserId},#{userId},#{userName},#{kmapId},#{updateTime})
	</insert>
	
	<update id="setIsRead">
		UPDATE T_Focus_Message
		SET is_read = 1
		WHERE id = #{id}
	</update>
	
	<select id="getRowCountIsNotRead" resultType="int">
		SELECT COUNT(*)
		FROM T_Focus_Message
		WHERE focus_user_id = #{focusUserId} and is_read = 0
	</select>
	
	<select id="queryFocusMessage" resultType="FocusMessage">
		SELECT
		<include refid="columns" />
		FROM T_Focus_Message
		WHERE focus_user_id = #{focusUserId}
		ORDER BY id DESC
	</select>

	<sql id="columns">
		id,focus_user_id,user_id,user_name,corpus_id,corpus_name,essay_id,essay_title,kmap_id,update_time,is_read
	</sql>
</mapper> 