<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.caitou.dao.IFocusCorpusDao">

	<insert id="insertFocusCorpus">
		INSERT INTO T_Focus_Corpus(corpus_id,user_id)
		VALUES(#{corpusId},#{userId})
	</insert>

	<delete id="deleteFocusCorpus">
		DELETE FROM T_Focus_Corpus
		WHERE corpus_id = #{corpusId} and user_id = #{userId}
	</delete>

	<select id="queryCorpusIdByUserId" resultType="java.lang.Integer">
		SELECT corpus_id
		FROM T_Focus_Corpus WHERE user_id = #{userId}
		ORDER BY id DESC
	</select>

	<select id="queryUserIdByCorpusId" resultType="java.lang.Integer">
		SELECT user_id
		FROM T_Focus_Corpus WHERE corpus_id = #{corpusId}
		ORDER BY id DESC
	</select>

	<select id="queryOneCorpus" resultType="FocusCorpus">
		SELECT
		<include refid="columns" />
		FROM T_Focus_Corpus WHERE corpus_id = #{corpusId} and user_id = #{userId}
	</select>

	<sql id="columns">
		id,corpus_id,user_id
	</sql>
</mapper> 