body {
	font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", Arial,
		sans-serif;
}

a:link {
	color: #333;
}

a:visited {
	color: #969696;
}

a:hover {
	color: #969696;
	text-decoration: underline;
}

a:active {
	color: #333;
	outline: 0;
}

a {
	cursor: pointer;
	background-color: transparent;
}

.row {
	margin-top: 75px;
}

img.avatar {
	width: 32px;
	height: 32px;
	border: 1px solid #ddd;
	vertical-align: center;
	border-radius: 50%;
}

img.user-avatar {
	width: 35px;
	height: 35px;
	margin-top: -9px;
	margin-bottom: -8px;
	border: 1px solid #ddd;
	vertical-align: center;
	border-radius: 100px;
}

.navbar-icon {
	padding-right: 10px;
}

.upfilebox {
	display: inline-block;
	position: relative;
	margin-left: 50px;
	margin-bottom: 50px;
}

.upfilebox input {
	width: 160px;
	height: 35px;
	position: relative;
	z-index: 9;
	opacity: 0;
}

.upfilebox label {
	font-family: -apple-system, "SF UI Text", Arial, "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",
		sans-serif;
	position: absolute;
	display: inline-block;
	background: white;
	color: #00cc66;
	border: 1px solid #00cc66;
	border-radius: 30px;
	width: 160px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	top: 0px;
	left: 0px;
}

.upfilebox, .upfilebox>input, .upfilebox>label:hover {
	cursor: pointer;
}

;
.top-label {
	margin: 0;
}

.alert {
	display: none;
	text-align: center;
	position: absolute;
	left: 95px;
	width: 200px;
	z-index: 999;
}

#current-avatar {
	width: 123px;
	height: 127px;
}