body {
  font-family:"Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif;
}

a:link {
  color: #333;
}
a:visited {
  color: #333;
}
a:hover {
  color: #969696;
  text-decoration: none;
}
a:active  {
  outline: 0;
}
a {
  cursor: pointer;
  background-color: transparent;
}

img.user-avatar {
  width: 35px;
  height: 35px;
  margin-top: -9px;
  margin-bottom: -8px;
  border: 1px solid #ddd;
  vertical-align: center;
  border-radius: 100px;
}

.container {
  margin-top: 75px;
}

.post {
  margin:0 auto;
}

.author {
  margin-top: 30px;
  margin-bottom: 30px;
}

.author .avatar ,.comments .avatar{
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  vertical-align: center;
  border-radius: 100px;
  float: left;
}

.author .info {
  margin-left: 60px;
}

.author .tag {
  padding: 1px 2px;
  font-size: 12px;
  color: #00cc66;
  border: 1px solid #00cc66;
  border-radius: 3px;
}

.author .name {
  font-size: 16px;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 3px;
}

.author .follow {
  margin-bottom: 3px;
}

.author .meta {
  color: #969696;
}

.article .article-content {
  line-height: 27px;
  font-size: 15px;
}

.article .article-pic {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article .article-foot {
  color: #9b9b9b;
}

.article .article-foot .notebook{
  color: #9b9b9b;
}

.article .article-foot .notebook:hover{
  text-decoration: underline;
}

.glyphicon {
  margin-right: 5px;
}

.article .article-foot .copyright {
  display: inline;
  float: right;
}


.meta-bottom .like  {
  width: 180px;
  height: 60px;
  margin: auto;
  padding: 15px 0 15px;
  border: 1px solid #00CC33;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #00cc66;
}

.meta-bottom .like:hover {
  cursor: pointer;
  background-color: #CCFF99;
}

.meta-bottom {
  margin-top: 60px;
  margin-bottom: 60px;
}

textarea {
  margin-left: 20px;
  width: 680px;
  height: 80px;
  border-radius: 6px;
  outline: none;
}

.write-function-block {
  margin-left: 70px;
  margin-top: 15px; 
  margin-bottom: 15px;
  float:right;
}

.write-function-block  {
}

a.emoji {
  margin: 20px; 
}

a.cancel {
  margin-right: 20px;
  color: #969696;
}


.comment-list {
  margin-top: 100px;
}

.comment-list-count {
  font-weight: bold;
  font-size: 20px;
}

.tool-group a{
  margin-right: 10px;
  color: #969696;
}

.sub-comment-list {
  border-left: 2px solid #d9d9d9;
  margin-top: 20px;
  padding: 5px 0 5px 20px;
}

.sub-comment-list  a.name {
  color: #0099FF;
}

.sub-tool-group {
  color: #969696;
}

.sub-tool-group a {
  margin-left: 10px;
  color: #969696;
}

.more-comment {
  margin-top: 30px;
}

a.add-comment-btn:hover {
  color: #333;
}

.new-comment-sub {
  display: none;
}