html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  background: #e0e0e0;
  font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;
  min-width: 1080px;
}
.Container {
  position: relative;
  margin: 10px auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  width: 1060px;
  border-radius: 4px;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 15px 15px;
  background: #00bfa5;
  color: #fff;
  line-height: 1.5;
  box-sizing: border-box;
}
.sidebar a {
  color: #fff;
}
.title {
  margin: 25px 0 20px;
  text-align: center;
}
.title img {
  display: block;
  margin: 0 auto 15px;
  width: 120px;
}
h1 {
  font-size: 28px;
  font-weight: normal;
}
h2 {
  font-size: 14px;
}
h3,
h4 {
  font-weight: bold;
}
.side-info li {
  padding-top: 20px;
}
.side-info dt {
  font-size: 18px;
  color: #9f3;
  line-height: 40px;
}
.side-info dd {
  font-size: 14px;
  line-height: 20px;
}
.someRight dd {
  margin-left: 25px;
}
.skill {
  position: relative;
}
.skill-name {
  width: 100px;
  font-size: 14px;
  display: inline-block;
  position: relative;
  left: 25px;
  top: -3px;
}
.skill-bar-wrap {
  height: 17px;
  width: 150px;
  background: #00796b;
  display: inline-block;
  border-radius: 20px;
}
.skill-bar {
  height: 17px;
  background: #fff;
  border-radius: 20px 0 0 20px;
}
.note {
  text-indent: 2em;
  margin-top: 90px;
  color: #004d40;
  font-size: 18px;
}
.main {
  position: relative;
  left: 300px;
  width: 720px;
  padding: 15px 20px;
  background: #f0f2f1;
}
.main a {
  color: #4db6ac;
}
.main-info > li {
  padding-top: 20px;
}
.main-info dt {
  font-size: 24px;
  color: #00796b;
  line-height: 30px;
  border-bottom: 1px solid #00796b;
  margin: 0 0 15px -5px;
}
.main-info dd {
  font-size: 15px;
  line-height: 27px;
  color: #616161;
}
.main-info span {
  color: #000;
  font-size: 16px;
}
h3 {
  font-size: 19px;
  color: #004d40;
  margin: 0 0 15px 5px;
}
h4 {
  line-height: 30px;
  font-size: 18px;
  color: #000;
  position: relative;
  bottom: 3px;
}
h5 {
  clear: both;
  font-size: 16px;
  color: #000;
  line-height: 25px;
}
.fa {
  margin-right: 2px;
}
h4 a,
h5 a {
  font-size: 12px;
  border: 1px solid #4db6ac;
  padding: 1px 3px;
  border-radius: 5px;
  margin-left: 7px;
  text-decoration: none;
}
.circle {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: #00796b;
  float: left;
  position: absolute;
  left: -28px;
  top: 5px;
}
.exp {
  border-left: 2px solid #00796b;
  margin-left: 15px;
}
.exp p {
  font-size: 15px;
  color: #616161;
  line-height: 22px;
  margin-bottom: 3px;
}
.exp > li {
  position: relative;
  top: -5px;
  margin: 0 0 20px 20px;
}
.exp img {
  width: 200px;
}
.exp ul > li {
  margin: 0 0 12px 0;
}
.efe .task4img img {
  height: 97px;
  width: inherit;
}
footer {
  margin: 30px 0 20px;
}
footer p {
  text-align: center;
  color: #616161;
  font-size: 14px;
}
footer a {
  color: #616161;
}
.throb {
  -webkit-animation: throb 1.33s ease-in-out infinite;
  animation: throb 1.33s ease-in-out infinite;
}
svg {
  width: 150px;
  height: 200px;
}
@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes throb {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes blink {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=src/styles/stylus/common.css.map */body.print {
  min-width: 0;
}
body.print .container {
  width: 1100px;
  position: relative;
  background-color: #00bfa5;
  margin: 0;
  zoom: 1;
}
body.print .container:before,
body.print .container:after {
  content: "";
  display: table;
}
body.print .container:after {
  clear: both;
}
body.print .sidebar {
  width: 350px;
  padding: 25px;
  margin-bottom: 0;
  position: relative;
  float: left;
}
body.print .side-info li {
  padding-top: 20px;
}
body.print .side-info dt {
  font-size: 20px;
}
body.print .side-info dd {
  font-size: 16px;
}
body.print .note {
  margin-top: 100px;
  font-size: 20px;
}
body.print .main {
  position: relative;
  float: right;
  left: 0;
  width: 750px;
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
}
body.print .main-info > li {
  padding-top: 10px;
}
body.print .main-info dt {
  font-size: 26px;
}
body.print .main-info dd {
  font-size: 17px;
}
body.print .main-info span {
  font-size: 18px;
}
body.print h3 {
  font-size: 20px;
}
body.print h4 {
  font-size: 20px;
}
body.print h4 a,
body.print h5 a {
  font-size: 14px;
}
body.print h5 {
  font-size: 18px;
}
body.print .exp {
  border-left: 2px solid #00796b;
  margin-left: 15px;
}
body.print .exp p {
  margin-bottom: 0;
}
body.print .exp > li {
  margin: 0 0 8px 20px;
}
body.print .exp img {
  width: 150px;
}
body.print .efe .task4img {
  height: 73px;
}
body.print footer {
  display: none;
}
/*# sourceMappingURL=src/styles/stylus/print.css.map *//*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)

/*# sourceMappingURL=style.css.map*/

/*-----------------------------------------------------------------------------*/
/*这是自己后来加的css*/
.list-meta {
  display: inline-block;
}
.list-meta > span, .one-note, .one-note > span {
  font-weight: normal;
  font-size: 15px;
  color: #7d7d7d;
}

.one-note {
  padding-top: 5px;
  padding-bottom: 5px;
}

.one-note > a {
  color: #009382;
}

.note-list {
  display: none;
}

h4.title-btn {
  cursor: pointer;
}