body {
  font-family:"Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif;
}

a:link {
  color: #969696;
}
a:visited {
  color: #969696;
}
a:hover {
  color: #969696;
  text-decoration: underline;
}
a:active  {
  outline: 0;
}
a {
  cursor: pointer;
  background-color: transparent;
}

.container-fluid > .row {
  margin-top: 75px;
}

img.avatar {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  vertical-align: center;
  border-radius: 50%;
}

img.user-avatar {
  width: 35px;
  height: 35px;
  margin-top: -9px;
  margin-bottom: -8px;
  border: 1px solid #ddd;
  vertical-align: center;
  border-radius: 100px;
}

li[role=presentation] > a{
  color: black;
  font-size: 16px;
}


/*-------*/
#current-avatar {
  margin-left: 20px;
  width:120px;
  height:120px;
  border-radius:100px;
  margin-bottom:20px;
}

#current-avatar-input {
  position: absolute;
  left: 180px;
  top: 30px;
  display: inline;
}

.alert {
  display:none;
  text-align:center;
  position:absolute;
  width:200px;
  z-index:999;
}