body {
	font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", Arial,
		sans-serif;
}

a, body {
	color: #333;
}

a.link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #333;
}

a:active {
	text-decoration: none;
}

.one-li:hover {
	border-bottom: 3px solid #333;
}

div {
	display: block;
}

img.user-avatar {
	width: 35px;
	height: 35px;
	margin-top: -9px;
	margin-bottom: -8px;
	border: 1px solid #ddd;
	vertical-align: center;
	border-radius: 100px;
}

img {
	vertical-align: middle;
}

.person {
	margin-top: 75px;
}

.person .main .main-top {
	margin-bottom: 20px;
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 100px;
	display: block;
	cursor: pointer;
}

.person .main .main-top .avatar {
	float: left;
	width: 80px;
	height: 80px;
	margin-left: -2px;
}

.person .main .main-top .title {
	padding: 5px 0 0 100px;
	color: #333;
	font-size: 23px;
	font-weight: bold;
}

.person .main .main-top .info ul {
	/* font-size: 0; */
	position: relative;
}

.person .main .main-top .info ul li {
	display: inline-block;
}

ul {
	padding-left: 0;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.navbar-icon {
	padding-right: 10px;
}

.person .main .main-top .info ul .meta-block {
	font-size: 12px;
	margin: 0 8px 6px 0;
	padding: 0 8px 0 0;
	border-right: 1px solid #f0f0f0;
}

.person .main .main-top .info ul a, .person .main .main-top .info ul div
	{
	color: #969696;
}

.person .main .main-top .info {
	padding-left: 100px;
}

.person .main .main-top .info ul {
	padding-left: 0px;
}

li {
	line-height: 20px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.person .main .main-top .info ul p {
	margin-bottom: -3px;
	font-size: 15px;
	color: #333;
}

p {
	margin: 0 0 10px;
}

.trigger-menu {
	padding-left: 0;
	margin-bottom: 20px;
	font-size: 0;
	list-style: none;
}

.trigger-menu li.active {
	border-bottom: 3px solid #00cc66;
}

.trigger-menu a {
	padding: 13px 20px;
	font-size: 16px;
	color: #969696;
}

.note-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.note-list li {
	position: relative;
	width: 100%;
	margin: 0 0 17px;
	padding: 0 2px 17px 0;
	border-bottom: 1px solid #f0f0f0;
	word-wrap: break-word;
}

.note-list .author {
	margin-bottom: 14px;
	font-size: 13px;
}

.note-list .author .avatar {
	margin: 0 5px 0 0;
}

.note-list .author a {
	color: #333;
}

.note-list .author .avatar, .note-list .author .name {
	display: inline-block;
	vertical-align: middle;
}

.avatar img {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	border-radius: 50%;
}

.note-list .author .name span {
	display: inline-block;
	padding-left: 3px;
	color: #969696;
}

.note-list .title {
	color: #2f2f2f;
	margin: -7px 0 4px;
	display: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
}

.note-list .title:hover {
	text-decoration: none;
}

.note-list .meta, .note-list .meta a {
	padding-right: 0 !important;
	margin-right: 15px;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: #969696;
}

.note-list .author-restyle {
	margin-bottom: 0;
}

.person .aside .profile-edit {
	display: none;
	margin-bottom: 20px;
}

form {
	margin: 0 0 20px;
}

.person .aside .function-btn {
	float: right;
	font-size: 13px;
	color: #969696;
}

.person .aside .function-btn i {
	padding-right: 2px;
}

.person .aside .profile-edit textarea {
	margin-bottom: 5px;
	width: 100%;
	height: 125px;
	padding: 5px 10px;
	font-size: 14px;
	background-color: hsla(0, 0%, 71%, .1);
	border: 1px solid #c8c8c8;
	border-radius: 4px;
	resize: none;
	outline: none;
}

.person .aside .profile-edit .btn-hollow {
	padding: 5px 20px;
	font-size: 14px;
}

.btn-hollow {
	border: 1px solid #42c02e;
	color: #42c02e;
	border-radius: 10px;
}

.btn-delete, .btn-gray, .btn-hollow {
	padding: 4px 12px;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	border-radius: 40px;
	background: none;
}

.btn-hollow:hover {
	color: #42c02e;
}

.person .aside .profile-edit a {
	margin-left: 10px;
	font-size: 14px;
	color: #969696;
	line-height: 34px;
	vertical-align: middle;
}

.person .aside .list li a {
	display: inline-block;
}

.person .aside .user-dynamic a {
	font-size: 14px;
	color: #333;
	line-height: 30px;
}

.person .aside .list {
	margin-bottom: 16px;
	padding-bottom: 16px;
	list-style: none;
	border-bottom: 1px solid #f0f0f0;
	clear: both;
}

.person .aside .user-dynamic a:hover {
	color: #2f2f2f;
}

.person .aside .description .js-intro, .person .aside .new-collection-block .js-intro
	{
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 14px;
}

.person .aside .list li {
	margin-bottom: 10px;
}

.person .aside .user-dynamic span {
	vertical-align: middle;
}

.person .aside .title {
	float: left;
	margin-bottom: 10px;
	font-size: 14px;
	color: #969696;
}

.person .aside .description, .person .aside .new-collection-block {
	position: relative;
	margin-bottom: 16px;
	padding: 0 0 16px;
	text-align: left;
	font-size: 0;
	border-bottom: 1px solid #f0f0f0;
	clear: both;
	word-break: break-word;
}

.person .aside .description a, .person .aside .new-collection-block a {
	margin-right: 5px;
}

.person .aside .new-collection-btn {
	font-size: 13px;
	color: #42c02e;
	display: block;
	margin-bottom: 20px;
}

ul.album-list {
	list-style: none;
	padding-left: 0;
	margin-top: 10px;
}

ul.album-list li {
	margin-bottom: 10px;
}

.album-pic {
	width: 32px;
	height: 32px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.album-name {
	padding-left: 10px;
}

ul.mindmap-list {
	list-style: none;
	padding-left: 0;
}

ul.mindmap-list>li {
	width: 100%;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.mindmap-img {
	position: absolute;
	top: 0;
	left: 0;
}

.mindmap-content {
	display: inline-block;
	padding-left: 110px;
	padding-top: 10px;
}

.mindmap-title {
	color: #2f2f2f;
	font-size: 18px;
	font-weight: bold;
}

.mindmap-info {
	padding-top: 10px;
}

.sub-nav-icon {
	margin-right: 10px;
}

.profile-box {
	
}

.profile-box-pic {
	border: 1px solid #ddd;
	width: 94px;
	float: left;
}

.profile-detail {
	position: relative;
	display: inline-block;
	margin-left: 15px;
	height: 127px;
	width: 530px;
}

.profile-title {
	font-size: 20px;
	color: #2f2f2f;
	font-weight: bold;
}

.profile-title:visited {
	color: #2f2f2f;
}

.profile-abstract {
	padding-top: 10px;
	padding-left: 10px;
}

.profile-abstract>span {
	display: block;
}

#more-profile-detail {
	position: absolute;
	bottom: 0;
	color: #969696;
}

button.focus {
	color: #969696;
	background-color: white;
	border: 1px solid #969696;
}

button.no-focus {
	color: white;
	background-color: #00cc66;
	border: 1px solid #00cc66;
}

#follow-btn, #contribute-btn {
	float: right;
	margin-left: 16px;
	width: 80px;
	height: 38px;
	font-weight: 400;
	border-radius: 40px;
	outline: none;
}

#follow-btn {
	position: absolute;
	right: 20px;
	top: 0;
}

#contribute-btn {
	color: #00cc66;
	background-color: white;
}

#contribute-btn:hover {
	background-color: #f2f2f2;
}