@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}

html, body, .container-fluid, .row {
	height: 100%;
}

body {
	font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", Arial,
		sans-serif;
}

.a {
	background-color: #3f3f3f;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.b {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#jsmind_container {
	width: 100%;
	height: 100%;
	border: solid 1px #ccc;
	/*background:#f4f4f4;*/
	background: #f4f4f4;
}

#back {
	display: block;
	width: 180px;
	border: 2px solid #00cc66;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 5px;
	color: #00cc66;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
}

#back>a {
	text-decoration: none;
	color: #00cc66;
}

.like {
	width: 180px;
	height: 60px;
	margin: auto;
	padding: 15px 0 15px;
	border: 2px solid #00CC33;
	border-radius: 40px;
	text-align: center;
	font-size: 18px;
	color: white;
	background-color: #00CC33;
}

.like:hover {
	cursor: pointer;
}

.intro {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 2px solid white;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.not-like {
	width: 180px;
	height: 60px;
	margin: auto;
	padding: 15px 0 15px;
	border: 2px solid #00CC33;
	border-radius: 40px;
	text-align: center;
	font-size: 18px;
	color: #00CC66;
	background-color: #3f3f3f;
}