<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />


	<!-- 配置SpringMVC -->
	<!-- 1:开启SpringMVC注解模式 -->
	<!-- 简化配置： （1）：自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter 
		(2):默认提供一系列的功能：数据绑定。数字和日期的format @NumberFormat @DateTimeFormat xml,json的默认读写支持 -->
	<mvc:annotation-driven />

	<!-- servlet-mapping 映射路径：“/” -->
	<!-- 2:静态资源默认servlet配置 1)：加入对静态资源的处理 js,gif,png 2)：允许使用“/”做整体映射 -->
	<mvc:default-servlet-handler />

	<!-- 启用spring mvc 注解 -->
	<context:annotation-config />

	<!-- spring可以自动去扫描base-package下面或者子包下面的java文件， 如果扫描到有@Component @Controller 
		@Service @Repository等这些注解的类，则把这些类注册为bean -->
	<context:component-scan base-package="com.caitou.*" />

	<!-- 拦截器 -->      
	<mvc:interceptors>      
	    <!-- 多个拦截器,顺序执行 -->      
	    <mvc:interceptor>      
	       <mvc:mapping path="/**" /><!-- 如果不配置或/*,将拦截所有的Controller -->      
	       <bean class="com.caitou.interceptor.LoginInterceptor"></bean>      
	    </mvc:interceptor>      
	    <mvc:interceptor>      
	       <mvc:mapping path="/**" /><!-- 如果不配置或/*,将拦截所有的Controller -->      
	       <bean class="com.caitou.interceptor.UpdateUserInterceptor"></bean>
	    </mvc:interceptor>      
	</mvc:interceptors>  

	<!-- 模型解析，在请求时为模型视图名称添加前后缀 比如在controller类中需要请求/WEB-INF/page/index.jsp文件，直接写index就可以了 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>1000000</value>
		</property>
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
	</bean>

	<!--定义异常处理页面 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.sql.SQLException">404</prop>
				<prop key="java.io.IOException">404</prop>
			</props>
		</property>
	</bean>
</beans>